
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}
input{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.search-text{
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30px;
}
.search-content{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 300px;
  overflow-y: auto;
  margin: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  text-align: left;
}
li{
  text-align: center;
  padding: 15px;
}